
body{
    margin: 0;
    padding: 0;
    /* font-family:Lato,sans-serif; */
    background-color: #fafafa;
    color: #1d1f20;
    font-family: 'Raleway', sans-serif;
}
 
h1{
    margin: 0;
    
}

h2 {
    margin: 0;
}


#nav-bar {
    background-color: honeydew;
}


/* Navigation bar  */
/* Add a black background color to the top navigation */
.topnav {
    background-color: #0a0a23;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    z-index: 1;
  }

.search-container {
    position: absolute;
    left: 2%;
    color: #01050A;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 100;
    padding: 6px;
    /* background-color: #FEAC32; */
    display: inline-block;
    width: 180%;
}

.search-box123 {
    width: 13.5%;
    background-color: #3b3b4f;
    color: #ffff;
}


.search-box123-logo {
    /* width: 13.5%; */
    background-color: #3b3b4f;
    color: #ffff;
    padding-left: 0;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffff;
    opacity: 1; /* Firefox */
    font-size: 18px;
    font-family: 'Lato', sans-serif;
  }

 
.name-middle {
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: -.5px;
    /* line-height: 1em; */
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    color: #ffff;
}

#freeCodeCamp-logo {
    font-weight: normal;
}

.sign-in-btn {
    position: absolute;
    right: 4%;
    
    /* text-align: left; */
}

.sign-in-btn-design {
    color: #01050A;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 100;
    padding: 6px;
    background-color: #FEAC32;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    width: 180%;
 }
 
 .sign-in-btn:hover {
    background: #F3C074;
    border: solid #337FED 0;
    text-decoration: none;
 }


.menu-btn-design {
    position: absolute;
    right: 8%;
    color: #ffff;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 100;
    padding: 6px;
    background-color: #01050A;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    width: 5%;
    border: #ffff 1px solid;
}




a {
    color: #2a2a40;
    text-decoration: none;
}


.main-title {
    font-size: 3rem;
    /* text-align: left; */
    position: relative;
    padding-top: 5%;
    
    
}

.main-title-text {
    /* text-align: -webkit-auto; */
    /* display: flex;
    flex-direction: column; */
    text-align: left;
    padding-left: 25rem;
}



/* LOGO  */

.logo-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-pack: distribute;
    -ms-flex-line-pack: center;
    align-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5px 0;
}


.logo-row svg {
    height: 40px
}

.main-logo-div {
    text-align: center;
    width: 50em;
    margin: 0 auto;
    /* position: relative; */
}


/* BUTTON  */
.btn {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #0a0a23;
    font-size: 34px;
    background: #feac32;
    padding: 11px 40px 16px 40px;
    border: solid #ced9e0 2px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #ebb76f;
    background-image: -webkit-linear-gradient(top, #ebb76f, #ebb76f);
    background-image: -moz-linear-gradient(top, #ebb76f, #ebb76f);
    background-image: -ms-linear-gradient(top, #ebb76f, #ebb76f);
    background-image: -o-linear-gradient(top, #ebb76f, #ebb76f);
    background-image: linear-gradient(to bottom, #ebb76f, #ebb76f);
    text-decoration: none;
  }


.button-div {
    padding: 2.2em;
}  

.p-text {
    font-weight: bold;
}

  /* Title  */

.title-img {
    margin: 10px auto;
}

.section-1-outer-div {
    padding: 0 7.2%;
    /* margin-left: 16%; */
}

#section-1 {
    /* background-color: #ccebed; */
    text-align: center;
}


#seen-in-section {
    background-color: #3b3b4f;
    text-align: center;
    padding: 4.4%;
    margin-top: 7rem;
}

#seen-in-heading {
    font-size: 2rem;;
    color: #d0d0d5;
    margin-bottom: 2rem;
    font-size: 2.5rem!important;
    overflow-wrap: break-word;
}

#featured-logos {
    max-width: 600px;
    color: #d0d0d5;
}







#people-main {
    background-color: #fdfdfd;
    text-align: center;
    padding: 5%;
}



#people-main {
    /* background-color: fuchsia; */
    padding: 0 7.2%;
}




#peoplw-main-div-main {
    text-align: center;
    /* background-color: greenyellow; */

}

/* Main container  */
#Outer-main-container {
    text-align: center;
    padding: 2% 10.7%;
}


.ppl-above-heading {
    font-weight: 700;
    padding-top: 50px;
    height: 100%;
    font-size: 2.6rem;
    line-height: 1.1;
}


    

/* peoples */
.ppls {
    /* background-color: rgb(184, 173, 129); */
    /* padding: 60px 20px; */
    margin: 0 auto 50px;
    width: 90%;
    text-align: center;
    /* position: relative; */
    display: flex;
    flex-direction: row;
    /* border: 2px solid black; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/* Peoples profile class */
.ppl-img1 {
    /* width: 25%; */
    /* position: absolute; */
    left: 0;
    top: 0;
    float: left;
    margin-right: 30px;
    /* padding-top: 5px; */
}

.ppl-bio {
    /* background-color: cadetblue; */
    margin: 0 auto;
    width: 70%;
    font-family: Lato,sans-serif;
    color: #3b3b4f;
    /* position: relative; */
    font-size: 1.5rem;
    right: 0;
    top: 0;
    height: 100%;
    /* float: right; */

}

.ppl-name-first {
    margin-top: 4rem;
}

.ppl-bio-para {
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.7rem;
    word-spacing: 3px;
    width: 98%;
}










.list-main-div {
  display: block;
  margin: 0 auto;
  max-width: 50rem;
  padding: 1rem;
}


ol.gradient-list {
  counter-reset: gradient-counter;
  list-style: none;
  margin: 1.75rem 0;
  padding-left: 1rem;
 }
 
li {
    background: #d0d0d5;
    /* border-radius: 0 0.5rem 0.5rem 0.5rem; */
    counter-increment: gradient-counter;
    margin-top: 2rem;
    min-height: 3rem;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;        
 }
 

 


.certification-element{
    border: solid black;
    font-size: 20px;
    text-align: left;
    font-size: 1.3rem;
}

li:hover{
    border: solid black;
    font-size: 20px;
    text-align: left;
    font-size: 1.3rem;
    color:#d0d0d5;
    background-color: rgb(10, 13, 36);
}




/* Footer  */

.set-footer{
    background-color: #dfdfe2;
    padding: 0 7.2%;
    flex-shrink: 0;
    font-family: Lato,sans-serif;
    line-height: 1.9;
}


/* Main Container  */
.footer-container{
    /* background-color: coral; */
    background-color: #dfdfe2;
    font-size: 16px;
    font-family: Lato,sans-serif;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    /* padding: 40px 15px; */
    padding: 2% 13%;
    color: #2a2a40;
}

.upper-footer {
    display: flex;
    flex-direction: row;
}

.description-col {
    padding: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    width: 45%
}

.footer-donation{

}

.features-col {
    padding: auto;
}



 /* Trending guide:  */
.trending-guides {
    text-align: center;
    width: 60%;
    line-height: 2.5rem;
}

 /* Col name only  */
.col-header{
    font-weight: bold;
}


.trending-guides-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-donation {
    font-weight: bold;
}

.footer-col {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: -webkit-auto;
    
}

.footer-col-1 {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.footer-col-2 {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.footer-col-3{
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}




/* Last About part  */

.footer-divder {
    background-color: #d0d0d5;
    height: 2px;
    margin: 0 15px;
}

.footer-divder { 
    justify-content: space-between;
    padding: 0 10px;
}



.our-nonprofit {
    margin-top: 20px;
    padding: 0 10px;
}

.our-nonprofit-element {
    padding: 5px;
    color: #2a2a40;
}













